---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="flex flex-col p-2 items-center">
	<h1 class="hover:text-8xl! transition-all duration-300 animate-fade-in-up">
		Bad Banana
	</h1>

</div>